.contact {
}

.contact__button {
	background: $off-white !important;
	border-bottom: $bezel-effect-white !important;

	&:hover {
		background: darken($off-white, 20%) !important;
		border-bottom: darken($off-white, 100%) !important;
	}
}

.contact__header {
	color: $off-white;

	font-size: $gigantic-size;
	font-family: $font-family-title;
	text-shadow: $text-shadow;

	margin-bottom: $m-size;
}

.contact__card {
	margin: 0;
	max-width: $max-content-width;
	text-align: initial;
}

@media (max-width: $desktop-breakpoint) {
	.contact__card {
		margin: 0 $m-size;
	}
}
