.footer {
	font-family: $font-family-content;
	text-align: center;
	color: $primary-color-1;
	font-size: $s-size;

	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}

.footer__content {
	padding: $xs-size 0;

	> a {
		color: $primary-color-1;
		font-family: $font-family-content;
		&:hover {
			color: $primary-color-2;
		}
	}
}
