.footer {
	font-family: $font-family-content;
	text-align: center;
	color: $off-white;
	font-size: $s-size;

	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}

.footer__content {
	padding: $xs-size 0;

	> a {
		color: $off-white;
		font-family: $font-family-content;
		&:hover {
			color: $flat-yellow;
		}
	}
}

// @media screen and (max-height: $desktop-breakpoint) {
// 	.footer {
// 		position: relative;
// 		margin-top: $l-size;
// 	}
// }
