.header {
	text-align: left;

	> * {
		margin-bottom: 3rem;
		user-select: none;
	}

	.hero-text__tagline {
		font-family: $font-family-title;
		&__company {
			color: $primary-color-1;
		}
	}

	&__icons i {
		color: $primary-color-1;
		margin: 1rem;
		&:hover {
			color: $primary-color-2;
			cursor: pointer;
		}
	}

	&__email {
		font-size: $m-size;
		color: $primary-color-1;
		font-family: $font-family-content;
		&:hover {
			color: $primary-color-2;
		}
	}
}
.header__links {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 100%;
	float: right;
}

.header__icons {
	> a {
		margin-right: 3rem;

		font-family: $font-family-content;
		font-size: $m-size;
		color: $primary-color-1;
		text-decoration: none;
		letter-spacing: 0.1px;
	}
}

@media (max-width: $desktop-breakpoint) {
	.header {
		padding: 10% 10% 0 5%;
	}

	.header__icons {
		flex-wrap: wrap;
		> a {
			width: 100%;
		}
	}
}

@media screen and (min-width: $small-phone-breakpoint) {
	.header {
		padding: 10% 30% 0 5%;
	}
}
