.header {
	padding: $l-size $l-size $l-size 20%;
	text-align: center;

	> * {
		margin: 0.5rem;
		user-select: none;
	}

	&__icons i {
		color: $primary-color-1;
		margin: 1rem;
		&:hover {
			color: $primary-color-2;
			cursor: pointer;
		}
	}

	&__avatar {
		width: 25rem;
		height: 25rem;
		border-radius: 50%;
	}

	&__email {
		font-size: $m-size;
		color: $primary-color-1;
		font-family: $font-family-content;
		&:hover {
			color: $primary-color-2;
		}
	}
}
.tagline {
	font-family: $font-family-content;
	font-size: $s-size;
	color: $primary-color-1;
}
.header__links {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 100%;
	float: right;
}

@media (max-width: $desktop-breakpoint) {
	.header {
		padding: $l-size $s-size;
		justify-content: center;
	}
}

@media screen and (min-width: $small-phone-breakpoint) {
	.header {
		padding: $l-size 15% $l-size 15%;
	}
}
