.header {
	display: flex;
	justify-content: flex-end;
	padding: $m-size $l-size;
}
.header__navigation-link {
	font-family: $font-family-content;
	font-weight: 500;
	font-size: $m-size;
	color: white;
	&:not(:last-child) {
		padding-right: $m-size;
	}
}
