.navigation {
	padding: $l-size $l-size $l-size 20%;
}
.tagline {
	font-family: $font-family-content;
	font-size: $s-size;
	color: lighten($primary-color-1, 30%);
}
.navigation__links {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 100%;
	float: right;
}
.navigation__link {
	user-select: none;
	outline: 0;
	-webkit-tap-highlight-color: transparent;

	&:not(:last-child) {
		padding-right: $m-size;
	}
	&::after {
		content: '';
		display: block;
		width: 0;
		height: 0.2rem;
		background: $primary-color-2;
		transition: width 0.3s;
	}
	&:hover::after {
		width: 100%;
		cursor: pointer;
	}
}

.navigation__link-active {
	color: $primary-color-2 !important;
	cursor: context-menu !important;
	pointer-events: none;
	&::after {
		width: 100% !important;
	}
}

.menu-name {
	white-space: nowrap;
}

@media (max-width: $desktop-breakpoint) {
	.navigation {
		padding: $l-size $s-size;
		justify-content: center;
	}

	.navigation__link:not(:last-child) {
		padding-bottom: $s-size;
	}
}

@media screen and (min-width: $small-phone-breakpoint) {
	.navigation {
		padding: $l-size 15% $l-size 15%;
	}
}
