.navigation {
	display: flex;
	flex-wrap: wrap;
	padding: $m-size $l-size $m-size 20%;
}
.navigation__link {
	font-family: $font-family-content;
	font-weight: 1000;
	letter-spacing: 0.2rem;
	font-size: $m-size;
	color: white;
	text-decoration: none;
	user-select: none;

	&:not(:last-child) {
		padding-right: $m-size;
	}
	&:hover {
		color: $flat-yellow;
		cursor: pointer;
	}
	&::after {
		content: '';
		display: block;
		width: 0;
		height: 0.2rem;
		background: $flat-yellow;
		transition: width 0.3s;
	}

	&:hover::after {
		width: 100%;
		cursor: pointer;
	}
}

.navigation__link-active {
	color: $flat-yellow !important;
	cursor: context-menu !important;
	pointer-events: none;
	&::after {
		width: 100% !important;
	}
}

@media (max-width: $desktop-breakpoint) {
	.navigation {
		padding: $m-size $s-size;
		justify-content: center;
	}

	.navigation__link:not(:last-child) {
		padding-bottom: $s-size;
	}
}

@media screen and (min-width: $small-phone-breakpoint) {
	.navigation {
		padding: $m-size 15% $m-size 15%;
	}
}
