.not-found-text {
	color: $primary-color-3;
	cursor: context-menu;
	user-select: none;

	font-size: $gigantic-size;
	font-family: $font-family-title;
	text-shadow: $text-shadow;
}

.not-found-text__title {
	color: $primary-color-2;
}
