.not-found-text {
	color: $primary-color-1;
	cursor: context-menu;
	user-select: none;
	font-size: $gigantic-size;
	font-family: $font-family-title;
}

.not-found-text__title {
	color: $primary-color-2;
}
