.projects-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.projects__tile {
	width: 32%;
	padding-bottom: 2%; /* 32:18, i.e. 16:9 */
	margin-bottom: 2%; /* (100-32*3)/2 */
}
.projects-image-crop {
	width: 100%;
	height: 250px;
	margin-bottom: 10px;
}
.projects__tile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	&.shift-right {
		object-position: 0;
	}
	&:hover {
		cursor: pointer;
	}
	border-radius: 8px;
}
.project-title {
	margin-bottom: $s-size;

	a {
		font-family: $font-family-content;
		color: $primary-color-1;
		font-weight: bold;
		margin-bottom: $xs-size;
		color: $primary-color-1;
		text-decoration: none;
		&:hover {
			color: $primary-color-2;
		}
	}
}
.project-desc {
	font-family: $font-family-content;
	font-size: $s-size;
	color: lighten($primary-color-1, 10%);
}
@media screen and (max-width: $small-phone-breakpoint) {
	.projects__tile {
		max-width: 100% !important;
		width: 100% !important;
	}
}

@media screen and (min-width: $small-phone-breakpoint) {
	.projects__tile {
		max-width: 48% !important;
		width: 48% !important;
	}
}

@media screen and (min-width: $max-content-width) {
	.projects__tile {
		max-width: 32% !important;
		width: 32% !important;
	}
}
