.projects {
	max-width: $max-content-width;
	transform: translate(-50%, -50%);
}

.projects__gridList__tile__site-title {
	color: $off-white;
	font-size: $m-size;
	font-family: $font-family-content;
	cursor: context-menu;
}
.projects__gridList__tile__site-link {
	color: $off-white;
	font-size: $s-size;
	font-family: $font-family-content;
	letter-spacing: 1px;
	&:hover {
		color: $flat-yellow;
	}
}

.projects__gridList__tile__action-link {
	color: $off-white;
	font-family: $font-family-content;
	&:hover {
		color: $flat-red;
	}
}

.projects__gridList__tile__tech {
	color: $off-white;
	padding-left: $xs-size;
	&:hover {
		cursor: context-menu;
	}
}

.projects__gridList__tile > div {
	border-radius: $xs-size;

	> img:hover {
		cursor: pointer;
	}
}
