.projects {
	transform: translate(-50%, -50%);
}

.projects__gridList__tile__site-title {
	color: $primary-color-3;
	font-size: $m-size;
	font-family: $font-family-content;
	cursor: context-menu;
}
.projects__gridList__tile__site-link {
	color: $primary-color-3;
	font-size: $s-size;
	font-family: $font-family-content;
	letter-spacing: 0.1rem;
	&:hover {
		color: $primary-color-2;
	}
}

.projects__gridList__tile__action-link {
	color: $primary-color-3;
	font-family: $font-family-content;
	&:hover {
		color: $primary-color-2;
	}
}

.projects__gridList__tile__tech {
	color: $primary-color-3;
	padding-left: $xs-size;
	&:hover {
		cursor: context-menu;
	}
}

.projects__gridList__tile > div {
	border-radius: $xs-size;

	> img:hover {
		cursor: pointer;
	}
}

@media screen and (max-width: $small-phone-breakpoint) {
	.projects__gridList__tile {
		max-width: 100% !important;
		width: 100% !important;
	}
}

@media screen and (min-width: $small-phone-breakpoint) {
	.projects__gridList__tile {
		max-width: 50% !important;
		width: 50% !important;
	}
}

@media screen and (min-width: $max-content-width) {
	.projects__gridList__tile {
		max-width: 33% !important;
		width: 33% !important;
	}
}
