.splash {
	transform: translate(-50%, -50%);
}

.splash__title {
	color: $off-white;
	cursor: context-menu;
	user-select: none;
}

.splash__title__content__loop > div > div > div {
	white-space: normal;
}
