.splash__title {
	color: $off-white;
	transform: translate(-50%, -50%);
	cursor: context-menu;
	user-select: none;
	padding: 5% 5% 0 20%;
}

.splash__title_content {
	font-size: $gigantic-size;
	font-family: $font-family-title;
	text-shadow: $text-shadow;

	a {
		color: $flat-yellow;
	}
}

#name {
	display: inline;
	color: $flat-yellow;
}

.splash__title__content__loop > div > div > div {
	white-space: normal;
}

@media (max-width: $desktop-breakpoint) {
	.splash__title {
		padding: 10% 0 0 0;
		text-align: center;
	}
	.splash__title_content {
		font-size: $xxl-size;
	}
}
