html {
	font-size: 62.5%;
	height: 100%;
}

body {
	background-color: $flat-blue;
	font-family: Helvetica, Arial, sans-serif;
	font-size: $m-size;

	position: relative;
	margin: 0;
	min-height: 100%;
}

#app {
	height: 100%;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

.large-text {
	color: $off-white;

	font-size: $gigantic-size;
	font-family: $font-family-title;
	text-shadow: $text-shadow;

	margin-bottom: $l-size;
	user-select: none;

	a {
		color: $flat-yellow;
	}
}

.large-text--yellow {
	color: $flat-yellow;
	display: inline;
}

.swal2-popup {
	font-size: 1.6rem !important;
}

.menu-text {
	font-family: $font-family-content !important;
	font-weight: 1000 !important;
	letter-spacing: 0.2rem !important;
	font-size: $m-size !important;
	color: white;
	text-decoration: none !important;
	user-select: none !important;
	&:hover {
		color: $flat-yellow !important;
		cursor: pointer !important;
	}
}

@media screen and (max-width: $desktop-breakpoint) {
	.large-text {
		font-size: $xxl-size;
	}
}

@media screen and (max-width: $small-phone-breakpoint) {
	.large-text {
		font-size: $xl-size;
		margin-bottom: $m-size;
	}
}
