html {
	font-size: 62.5%;
}

body {
	background-color: $flat-blue;
	font-family: Helvetica, Arial, sans-serif;
	font-size: $m-size;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

.large-text {
	color: $off-white;

	font-size: $gigantic-size;
	font-family: $font-family-title;
	text-shadow: $text-shadow;

	margin-bottom: $l-size;
	user-select: none;
}

.is-active-nav {
	color: $flat-yellow !important;
	cursor: context-menu !important;
	pointer-events: none;
	&::after {
		width: 100% !important;
	}
}
