html {
	font-size: 62.5%;
	height: 100%;
}

body {
	background: $primary-color-3;
	font-family: Helvetica, Arial, sans-serif;
	font-size: $m-size;

	position: relative;
	margin: 0;
	min-height: 100%;
}

#app {
	height: 100%;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

.title-text {
	color: $primary-color-1;
	font-size: $m-size;
	font-family: $font-family-content;
	margin-bottom: $m-size;
	user-select: none;
	font-weight: bold;
	a {
		color: $primary-color-2;
	}
}

.hero-text {
	font-family: $font-family-title !important;
	font-size: 3vw !important;
	color: $primary-color-1;
	text-decoration: none !important;
	user-select: none !important;
	letter-spacing: 0.03em;
}

@media screen and (max-width: $desktop-breakpoint) {
	.hero-text {
		font-size: 6vw !important;
	}
}
