// Color
$off-white: #ecf0f1;
$flat-red: #f4032f;
$flat-blue: #03a9f4;
$flat-yellow: #f4c803;

// Spacing
$xs-size: 1rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 6.4rem;
$gigantic-size: 8rem;
$desktop-breakpoint: 60rem;
$small-phone-breakpoint: 50rem;
$max-content-width: 75rem;

// Fonts
$font-family-content: 'Roboto', sans-serif;
$font-family-title: 'Fredoka One', sans-serif;

// Effects
$bezel-effect-blue: 0.3rem solid darken($flat-blue, 20%);
$bezel-effect-white: 0.3rem solid darken($off-white, 10%);
$text-shadow: 0.6rem 0.6rem 0 darken($flat-blue, 10%);

